<h2>Om Emil</h2>
<p>Emil er glad for at arbejde i Bydata. </p>

<h2>Kernekompetencer</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item"><span class="fa fa-lightbulb-o fa-lg main-list-item-icon" aria-hidden="true"></span > Analytisk</li>
  <li class="main-list-item"><span class="fa fa-database fa-lg main-list-item-icon" aria-hidden="true"></span > Teknisk</li>
  <li class="main-list-item"><span class="fa fa-map-o fa-lg main-list-item-icon" aria-hidden="true"></span > GIS</li>
  <li class="main-list-item"><span class="fa fa-users fa-lg main-list-item-icon" aria-hidden="true"></span > God til samarbejde </li>
  <li class="main-list-item"><span class="fa fa-commenting fa-lg main-list-item-icon" aria-hidden="true"></span > Konstruktiv</li>
  <li class="main-list-item"><span class="fa fa-code fa-lg main-list-item-icon" aria-hidden="true"></span > Koder</li>
  <li class="main-list-item"><span class="fa fa-coffee fa-lg main-list-item-icon" aria-hidden="true"></span > Meget afslappet</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
