<h2>Om Emil</h2>
<p>Emil er glad for at arbejde i Bydata. </p>

<h2>Kernekompetencer</h2>
<ul>
  <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Analytisk</li>
  <li><i class="fa fa-database" aria-hidden="true"></i> Teknisk</li>
  <li><i class="fa fa-map-o" aria-hidden="true"></i> GIS</li>
  <li><i class="fa fa-users" aria-hidden="true"></i> God til samarbejde </li>
  <li><i class="fa fa-commenting" aria-hidden="true"></i> Konstruktiv</li>
  <li><i class="fa fa-code" aria-hidden="true"></i> Koder</li>
  <li><i class="fa fa-coffee" aria-hidden="true"></i> Meget afslappet</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
